@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.lesserDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.heading {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  color: #fff;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.keys {
  font-weight: 800;
  padding: 5px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
}

.values {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}

.rowDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.rowDetails:nth-of-type(odd) {
  background-color: bg-slate-800;
}

.direct {
  display: flex;
  position: absolute;
  right: 10px;
}

@media (max-width: 768px) {
  .rowDetails {
    justify-content: space-between;
  }

  .values {
    gap: 20px;
  }

  .direct {
    position: relative;
    right: 0;
  }

  h1 {
    font-size: 5px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
}
